.logo-container {
    z-index: 0;
    width: 100px;
    height: 301px;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 51%;
    bottom: 80%;
    left: auto;
    margin: auto;
    opacity: 0.8;

    .solid-logo {
        opacity: 0;
    }
}